{% extends 'base.html' %}
{% block content %}
<!-- 후기 수정 -->
<div class="container my-3">
    <h5 class="my-3 border-bottom pb-2">후기 수정</h5>
    <form method="post">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <div class="mb-3">
                <label for="score" class="form-label">평가</label>
                <span id="value"></span>
                <input type="range" class="form-control" name="score" id="score" min="1" max="10" step="1" value="{{ form.score.value|default_if_none:'' }}">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">후기</label>
                <textarea name="content" id="content" class="form-control" rows="3">{{ form.content.value|default_if_none:'' }}</textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">저장</button>
    </form>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
    var slider = document.getElementById("score");
    var output = document.getElementById("value");
    output.innerHTML = "★".repeat(slider.value) + "☆".repeat(10 - slider.value);

    slider.oninput = function() {
        output.innerHTML = "★".repeat(this.value) + "☆".repeat(10 - this.value);
    }
</script>
{% endblock %}