{% extends 'base.html' %}
{% load recipe_filter %}
{% block content %}
<div class="container my-3">
    <!-- message 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
        {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul>
            <li>{{ message.message }}</li>
        </ul>
        {% endfor %}
    </div>
    {% endif %}
    <!-- 기본 정보 -->
    <h2 class="border-bottom py-2">{{ recipe.name }}</h2>
    <div class="card my-3">
        <div class="card-body row g-3">
            <div class="card-text col-md-8">
                <img src="{{ recipe.image.url }}" class="img-thumbnail" width="500">
            </div>
            <div class="col-md-4">
                <div class="card text-bg-dark mb-3">
                    <div class="card-header">카테고리</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.category }}</h5>
                    </div>
                </div>
                <div class="card text-bg-dark mb-3">
                    <div class="card-header">난이도</div>
                    <div class="card-body">
                        <h5 class="card-title">{% for i in "x"|rjust:recipe.level %}★{% endfor %}</h5>
                    </div>
                </div>
                <div class="card text-bg-dark mb-3">
                    <div class="card-header">조리 도구</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.tool }}</h5>
                    </div>
                </div>
                <div class="card text-bg-dark mb-3">
                    <div class="card-header">조리 시간</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.duration }}</h5>
                    </div>
                </div>
            </div>
            <!-- 재료 -->
            {% for element in recipe.element_set.all %}
            <div class="card text-bg-dark mb-3 col-md-2">
                <div class="card-header">재료</div>
                <div class="card-body text-dark">
                    <h5 class="card-title">{{ element.ename }}</h5>
                    <p class="card-text">{{ element.put }}{{ element.unit }}</p>
                </div>
                <div class="card my-3">
                    {% if request.user == recipe.author %}
                    <a href="#" class="delete btn btn-sm btn-outline-secondary " data-uri="{% url 'recipe:element_delete' element.id  %}">삭제</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <!-- 조리법 -->
            {% for cooking in recipe.cooking_set.all %}
            <div class="card text-bg-dark mb-3 col-md-4">
                <div class="card-header">조리 방법 {{ cooking.order }}</div>
                <div class="card-body text-dark">
                    <p class="card-text">{{ cooking.process|mark }}</p>
                </div>
                <div class="card my-3">
                    {% if request.user == recipe.author %}
                    <a href="#" class="delete btn btn-sm btn-outline-secondary " data-uri="{% url 'recipe:cooking_delete' cooking.id  %}">삭제</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <div class="row g-3 col-md-12">
                <div class="my-3 col-md-6">
                    {% if request.user == recipe.author %}
                    <a href="{% url 'recipe:recipe_modify' recipe.id  %}" class="btn btn-sm btn-outline-secondary">수정</a>
                    <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary" data-uri="{% url 'recipe:recipe_delete' recipe.id  %}">삭제</a>
                    {% endif %}
                </div>
                <div class="d-flex justify-content-end col-md-6">
                    {% if recipe.modify_date %}
                    <div class="badge bg-light text-dark p-2 text-start mx-3">
                        <div class="mb-2">최종 수정</div>
                        <div>{{ recipe.modify_date }}</div>
                    </div>
                    {% endif %}
                    <div class="badge bg-light text-dark p-2 text-start">
                        <div class="mb-2">{{ recipe.author.username }}</div>
                        <div>{{ recipe.create_date }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 재료 등록 -->
    <div class="row g-3">
        {% if request.user == recipe.author %}
        <form action="{% url 'recipe:element_create' recipe.id %}" method="post" class="row g-3">
            {% csrf_token %}
            <div class="col-md-5">
                <div class="input-group">
                    <label for="ename" class="input-group-text">재료 이름</label>
                    <input type="text" class="form-control" name="ename" id="ename">
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <label for="put" class="input-group-text">투입 용량</label>
                    <input type="number" class="form-control" name="put" id="put">
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <label for="unit" class="input-group-text">용량 단위</label>
                    <input type="text" class="form-control" name="unit" id="unit">
                </div>
            </div>
            <div class="col-md-1">
                <input type="submit" value="재료 추가" class="btn btn-dark">
            </div>
        </form>
        {% endif %}
        <!-- 조리법 등록 -->
        {% if request.user == recipe.author %}
        <form action="{% url 'recipe:cooking_create' recipe.id %}" method="post" class="row g-3">
            {% csrf_token %}
            <div class="col-md-3">
                <div class="input-group">
                    <label for="order" class="input-group-text">조리 순서</label>
                    <input type="number" class="form-control" name="order" id="order">
                </div>
            </div>
            <div class="col-md-8">
                <div class="input-group">
                    <label for="process" class="input-group-text">조리 방법</label>
                    <textarea name="process" id="process" class="form-control" rows="3"></textarea>
                </div>
            </div>
            <div class="col-md-1">
                <input type="submit" value="조리법 추가" class="btn btn-dark">
            </div>
        </form>
        {% endif %}
    </div>
    <!-- 오류 표시 Start -->
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {% for field in form %}
        {% if field.errors %}
        <div>
            <strong>{{ field.label }}</strong>
            {{ field.errors }}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <!-- 오류 표시 End -->
    <!-- 후기 -->
    <h5 class="border-bottom my-3 py-2">후기 {{ recipe.detail_set.count }}개</h5>
    {% for detail in recipe.detail_set.all %}
    <a id="detail_{{ detail.id }}"></a>
    <div class="card my-3">
        <div class="card-body row g-3">
            <div class="card-title">{% for i in ""|ljust:detail.score %}★{% endfor %}</div>
            <div class="card-text">{{ detail.content|mark }}</div>
            <div class="my-3 col-md-6">
                {% if request.user == detail.author %}
                <a href="{% url 'recipe:detail_modify' detail.id  %}" class="btn btn-sm btn-outline-secondary">수정</a>
                <a href="#" class="delete btn btn-sm btn-outline-secondary" data-uri="{% url 'recipe:detail_delete' detail.id  %}">삭제</a>
                {% endif %}
            </div>
            <div class="d-flex justify-content-end col-md-6">
                {% if detail.modify_date %}
                <div class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">최종 수정</div>
                    <div>{{ detail.modify_date }}</div>
                </div>
                {% endif %}
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">{{ detail.author.username }}</div>
                    <div>{{ detail.create_date }}</div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- 후기 등록 -->
    <form action="{% url 'recipe:detail_create' recipe.id %}" method="post" class="row g-3">
        {% csrf_token %}
        <div class="col-md-3">
            <div class="input-group">
                <label for="score" class="input-group-text">평가</label>
                <span id="value" class="input-group-text"></span>
                <input type="range" class="form-range" name="score" id="score" min="1" max="10" step="1">
            </div>
        </div>
        <div class="col-md-9">
            <div class="input-group">
                <label for="content" class="input-group-text">후기</label>
                <textarea name="content" id="content" class="form-control" rows="3"></textarea>
            </div>
        </div>
        <div class="col-md-12">
            <input type="submit" value="후기 등록" class="btn btn-dark">
        </div>
    </form>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });

    var slider = document.getElementById("score");
    var output = document.getElementById("value");
    output.innerHTML = "★".repeat(slider.value) + "☆".repeat(10 - slider.value);

    slider.oninput = function() {
        output.innerHTML = "★".repeat(this.value) + "☆".repeat(10 - this.value);
    }
</script>
{% endblock %}